body{
  margin: 0;
}
nav{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  opacity: 0.9;
  background-color: #f2f2f2;
  margin: 0;
}

nav ul{
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  order: 1;
}
nav li{
  list-style-type: none;
  font-family: 'Lato';
  font-size: 1.06em;
  text-transform: uppercase;
  padding: .5em;
}
nav li a{
  color: #303030;
  text-decoration: none;
}
.splash img{
  height: 200px;
}
.splash{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}
h1{
    font-family: "Oswald";
    font-weight: 400;
    display: block;
    background-color: #d49b30;
    font-size: 2.1em;
    color: white;
    padding: 0.4em;
    margin: 0;
    text-align: center;
}
.scheduleContainer{
  display: flex;
  flex-flow: column nowrap;
}
.schedule{
  background-color: #e0d7c5;
}
.schedule li{
  list-style:none;
  color: #8e5942;
  font-family:"Oswald";
  font-weight:200;
  font-size: 2.1em;
}
.invitation{
  font-family: 'Lato';
  padding: 5% 5% 8%;
}
.invitation a{
  color: #d49b30;
  font-weight: bold;
}
.customOrder{
  background-color: #8e5942;
  color: #f2f2f2;
  font-family:"Oswald";
  text-align: center;
  padding: 5%;
}
footer{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #be5f27;
  color: #f2f2f2;
  padding: 5% 0;
  text-align: center;
}
#footerLogo{
  width: 25%;
  order: -1;
}
.address{
  font-family:'Oswald';
  font-weight: 200;
  text-align: center;
}
#ftiIcons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
#ftiIcons img{
  padding: 2%;
}
.fti p{
  font-family:'Oswald';
  font-weight: 200;
}

@media screen and (min-width: 600px){
  nav{
    flex-flow: row nowrap;
    z-index: 1;
    height: 215px;
  }
  nav ul{
    flex-flow: row nowrap;
    justify-content: space-around;
    order: 0;
  }
  .splash img{
    height: 405px;
  }
  .splash{
    top: 0;
    height: 405px;
    margin-top: -215px;
  }
  .hours{
    text-align: center;
  }
  .hours h1{
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  .scheduleContainer{
    flex-direction: row;
    margin-top: -77px;
  }
  .schedule{
    padding: 12% 5% 8%;
    flex: 1 1 0;
  }
  .invitation{
    padding: 12% 5% 8%;
    flex: 1 1 0;
  }
  .customOrder{
    font-size: 1.25em;
  }
  .invitation{
    font-size: 1.25em;
  }
  footer{
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 5%;
  }
  #footerLogo{
    order: 0;
    flex: 0 1 auto;
    width: 100px;
    padding: 0 5%;
  }
  .address{
    flex: 1 1 auto;
  }
  .fti{
    flex: 1 1 auto;
  }
  }
@media screen and (min-width: 820px){

  #ftiIcons{
    justify-content:space-around;
  }
  #footerLogo{
    padding: 0 10%;
  }
}
