/*mobile code*/
  body{
    margin: 0;
  }
  nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;
    background-color: #f2f2f2;
    margin: 0;
  }

  nav ul{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    order: 1;
  }
  nav li{
    list-style-type: none;
    font-family: 'Lato Regular';
    font-size: 1.06em;
    color: #303030;
    text-transform: uppercase;
    padding: .5em;
  }
  .splash img{
    height: 400px;
  }
  .splash{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .info{
    display: flex;
    flex-flow: column nowrap;
  }
  .description{
    padding: 15% 0;
  }
  .description p{
    font-family: 'Lato';
    font-weight: 400;
    padding: 0 10%;
  }
  h1{
    font-family: "Oswald";
    display: block;
    font-weight: 400;
    background-color: #d49b30;
    font-size: 2.1em;
    color: #f2f2f2;
    padding: 0.4em;
    margin: 0;
    text-align: center;
  }
  .cakeType{
    background-color: #c3bbac;
  }
  .cakeType p{
    font-family:"Oswald";
    font-weight: 700;
    text-transform: uppercase;
    color:#f2f2f2;
    font-size: 3.25em;
    line-height: .83em;
    text-align:center;
    margin: 3% 0 10%
  }
  .cakeType img{
    display: block;
    margin: auto;
    padding: 2em 0 0;
  }

@media screen and (min-width: 600px){
nav{
  flex-flow: row nowrap;
  z-index: 1;
  height: 215px;
}
nav ul{
  flex-flow: row nowrap;
  justify-content: space-around;
  order: 0;
}
.splash img{
  height: 815px;
}
.splash{
  top: 0;
  height: 815px;
  margin-top: -215px;
}
.info{
  flex-direction: row;
  margin-top: -76.88px;

}
.getFix{
  width: 180px;
  margin: auto;
}
.description{
  flex: 1 1 0;
}
.cakeType{
  flex: 1 1 0;
  z-index: -1;
}
}
