/*mobile code*/
  body{
    margin: 0;
  }
  nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    opacity: 0.9;
    background-color: #f2f2f2;
    margin: 0;
  }

  nav ul{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
    order: 1;
  }
  nav li{
    list-style-type: none;
    font-family: 'Lato Regular';
    font-size: 1.06em;
    color: #303030;
    text-transform: uppercase;
    padding: .5em;
  }
  .splash img{
    height: 400px;
  }
  .splash{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
    position: static;
  }

@media screen and (min-width: 600px){
nav{
  flex-flow: row nowrap;
}
nav ul{
  flex-flow: row nowrap;
  justify-content: space-around;
  order: 0;
}

.splash{
  position: absolute;
  top: 0;
  height: auto;

}
}
